:root {
  --primary-color: #7c3aed;
  --background-color: #0b0b0c;
  --foreground-color: #e1e1e1;
  --placehoder-color: #4b4b4b;
  --sencond-background: #1c1c1e;
  --border-color: rgba(255, 255, 255, 0.1);
  --hover: #292929;
}
